/* custom HTML component styles */
p {
  font-family: 'Montserrat';
  font-size: 1em;
}

p.subtitle {
  font-size: 1.2em;
}

blockquote footer {
	color: black;
}


/* Custom Bootstrap style overrides */
.btn-info {
	color: #f9f7f4;
	background-color: #c01d2e;
	border-color: #ab1626;
}

.btn-info:hover  {
	color: #f9f7f4;
	background-color: red;
	border-color: #ab1626;
}

/* Custom components styles */
#construction-alert {
  width: 20% !important;
}

.alert-fixed {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px;
}
